body {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
  background-color: var(--light-color);
}

.is-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
