.room-amenities {
  background-color: var(--brand-color);
  padding-top: 40px;
  padding-bottom: 64px;
}
.amenities-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.amenities-sub-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--light-color);
}

.amenities-list {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--light-color);
  list-style-type: disc;
}
.amenities-list:last-child {
  margin-bottom: 40px;
}

.amenities-sub-title-cont {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.amenities-img-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}

.amenities-img-big {
  margin-bottom: 32px;
  width: 100%;
}

.amenities-img-small {
  width: 150px;
  height: 103px;
  position: absolute;
  left: 0;
  top: 160px;
}

.amenities-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* mobile */ /* mobile */ /* mobile */
@media screen and (min-width: 375px) {
  .room-amenities {
  }
  .amenities-img-small {
    width: 207px;
    top: 144px;
  }
  .amenities-img-big {
    width: 255px;
    margin-bottom: 32px;
  }
  .amenities-cont {
    align-content: center;
    flex-wrap: wrap;
  }

  .amenities-sub-title {
    font-size: 28px;
  }

  .amenities-sub-title-cont {
    gap: 40px;
    width: 335px;
  }

  .amenities-btn-ins {
    width: 175px;
  }
}

/* table */ /* table */ /* table */ /* table */
@media screen and (min-width: 768px) {
  .amenities-img-small {
    width: 365px;
    height: 182px;
    top: 157px;
  }

  .amenities-img-big {
    width: 408px;
    height: 526px;
  }

  .amenities-sub-title-cont {
    width: 633px;
  }

  .amenities-img-cont {
    position: relative;
  }

  .amenities-sub-title {
    font-size: 40px;
    line-height: 1.1;
  }

  .amenities-list {
    font-size: 18px;
    line-height: 1.33;
  }

  .amenities-btn {
    display: inline;
    position: absolute;
    top: 371px;
  }
}

/* desktop */ /* desktop */ /* desktop */
@media screen and (min-width: 1440px) {
  .room-amenities {
    /* max-width: 1440px;} */
  }

  .amenities-img-small {
    width: 439px;
    height: 219px;
    top: 208px;
  }

  .amenities-img-big {
    width: 496px;
    height: 636px;
  }

  .amenities-cont {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 100px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .amenities-sub-title-cont {
    max-width: 636px;
  }

  .amenities-img-cont {
    width: 740px;
    margin-left: auto;
  }

  .amenities-btn {
    top: 459px;
  }

  /* --brand-color: #121212; */
  /* --light-color: #f7f7f7; */
}
