<section class="room-amenities">
  <div class="container amenities-cont">
    <!-- код писати тут -->
    <div class="amenities-sub-title-cont">
    <h3 class="amenities-sub-title" >General Amenities & Facilities:</h3>
    <ul>
      <li class="amenities-list">24-hour front desk service</li>
      <li class="amenities-list">Daily housekeeping</li>
      <li class="amenities-list">Free Wi-Fi throughout the hotel</li>
      <li class="amenities-list">Elevator access</li>
      <li class="amenities-list">Luggage storage</li>
      <li class="amenities-list">Non-smoking rooms available</li>
      <li class="amenities-list">Meeting rooms for business and events</li>
      <li class="amenities-list">On-site parking (surcharge)</li>
      <li class="amenities-list">Concierge services</li>
    </ul>
    </div>
  
    <div class="amenities-sub-title-cont">
  <h3 class="amenities-sub-title">Bathroom:</h3>
  <ul>
    <li class="amenities-list">Private bathroom with shower</li>
    <li class="amenities-list">Complimentary toiletries</li>
    <li class="amenities-list">Hair dryer</li>
    <li class="amenities-list">Fresh towels daily</li>
    <li class="amenities-list">Deluxe bathrobes (in some room categories)</li>
  </ul>
  </div>

  <div class="amenities-sub-title-cont">
<h3 class="amenities-sub-title">Bedroom:</h3>
<ul>
  <li class="amenities-list">Comfortable beds with high-quality linens</li>
  <li class="amenities-list">Blackout curtains</li>
  <li class="amenities-list">Climate control (air conditioning and heating)</li>
  <li class="amenities-list">Safe for valuables</li>
  <li class="amenities-list">Writing desk and chair</li>
  <li class="amenities-list">Flat-screen TV with cable channels</li>
</ul>
</div>

<div class="amenities-sub-title-cont">
<h3 class="amenities-sub-title">Kitchen:</h3>
<ul>
  <li class="amenities-list">In-room kitchenette (in some room categories)</li>
  <li class="amenities-list">Refrigerator</li>
  <li class="amenities-list">Microwave</li>
  <li class="amenities-list">Electric kettle</li>
  <li class="amenities-list">Cooking utensils and cutlery</li>
  <li class="amenities-list">Dining table and chairs</li>
</ul>
</div>

<div class="amenities-sub-title-cont">
<h3 class="amenities-sub-title">Media:</h3>
<ul>
  <li class="amenities-list">Flat-screen TV with cable channels</li>
  <li class="amenities-list">High-speed Wi-Fi</li>
  <li class="amenities-list">iPod docking station</li>
  <li class="amenities-list">Speaker system</li>
  <li class="amenities-list">Electrical outlets for charging devices.</li>
</ul>
</div>

<div class="amenities-img-cont">


<picture>
  <source srcset="
    ./img/page-room/bedroom/bedroom2-mob-1x.jpg 1x, 
    ./img/page-room/bedroom/bedroom2-mob-2x.jpg 2x" media="(max-width: 767px)">
  <source srcset="
    ./img/page-room/bedroom/bedroom2-tab-1x.jpg 1x, 
    ./img/page-room/bedroom/bedroom2-tab-2x.jpg 2x" media="(min-width: 768px)">
  <source srcset="
    ./img/page-room/bedroom/bedroom2-desk-1x.jpg 1x, 
    ./img/page-room/bedroom/bedroom2-desk-2x.jpg 2x" media="(min-width: 1400px)">
  <img class="amenities-img-big" src="./img/page-room/bedroom/bedroom2-mob-1x.jpg" alt="bedroom2">
</picture>

<picture>
  <source srcset="
    ./img/page-room/bedroom/bedroom1-mob-1x.jpg 1x, 
    ./img/page-room/bedroom/bedroom1-mob-2x.jpg 2x" media="(max-width: 767px)">
  <source srcset="
    ./img/page-room/bedroom/bedroom1-tab-1x.jpg 1x, 
    ./img/page-room/bedroom/bedroom1-tab-2x.jpg 2x" media="(min-width: 768px)">
  <source srcset="
    ./img/page-room/bedroom/bedroom1-desk-1x.jpg 1x, 
    ./img/page-room/bedroom/bedroom1-desk-2x.jpg 2x" media="(min-width: 1400px)">
  <img class="amenities-img-small" src="./img/hotels-details/hotel-bath-desk-1x.jpg" alt="bedroom1">
</picture>
</div>
<button type="button" class="btn btn-black">Book a room</button>


  </div>
</section>
