<section class="room-amenities">
  <div class="container amenities-cont">
    <!-- код писати тут -->
    <h2>amenities</h2>
    <h3>General Amenities & Facilities:</h3>
    <ul>
      <li>24-hour front desk service</li>
      <li>Daily housekeeping</li>
      <li>Free Wi-Fi throughout the hotel</li>
      <li>Elevator access</li>
      <li>Luggage storage</li>
      <li>Non-smoking rooms available</li>
      <li>Meeting rooms for business and events</li>
      <li>On-site parking (surcharge)</li>
      <li>Concierge services</li>
    </ul>
  
  <h3>Bathroom:</h3>
  <ul>
    <li>Private bathroom with shower</li>
    <li>Complimentary toiletries</li>
    <li>Hair dryer</li>
    <li>Fresh towels daily</li>
    <li>Deluxe bathrobes (in some room categories)</li>
  </ul>
  
<h3>Bedroom:</h3>
<ul>
  <li>Comfortable beds with high-quality linens</li>
  <li>Blackout curtains</li>
  <li>Climate control (air conditioning and heating)</li>
  <li>Safe for valuables</li>
  <li>Writing desk and chair</li>
  <li>Flat-screen TV with cable channels</li>
</ul>

<h3>Kitchen:</h3>
<ul>
  <li>In-room kitchenette (in some room categories)</li>
  <li>Refrigerator</li>
  <li>Microwave</li>
  <li>Electric kettle</li>
  <li>Cooking utensils and cutlery</li>
  <li>Dining table and chairs</li>
</ul>

<h3>Media:</h3>
<ul>
  <li>Flat-screen TV with cable channels</li>
  <li>High-speed Wi-Fi</li>
  <li>iPod docking station</li>
  <li>Speaker system</li>
  <li>Electrical outlets for charging devices.</li>
</ul>

<img src="../img/page-room/bedroom/bedroom2-mob-1x.jpg" alt="bedroom2">
<img src="../img/page-room/bedroom/bedroom1-mob-1x.jpg" alt="bedroom1">

<button type="button" class="btn btn-black">Book a room</button>


  </div>
</section>
