<section class="room-hero">
  <div class="container">
    <div class="slider-tittle-button">
      <div class="title-button">
        <h1 class="hero-room-title"> Double </br> <span class="luxury">luxury</span> room</h1>
        <button type="button" class=" btn room-hero-but">view prices</button>
      </div>
      <div>
        <div class="room-hero-slider">
          <picture class="pics-slides">
            <source srcset="
              ./img/page-room/slides-hero/room1-mob-1x.jpg 1x, 
              ./img/page-room/slides-hero/room1-mob-2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="
              ./img/page-room/slides-hero/room1-tab-1x.jpg 1x, 
              ./img/page-room/slides-hero/room1-tab-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="
              ./img/page-room/slides-hero/room1-desk-1x.jpg 1x, 
              ./img/page-room/slides-hero/room1-desk-2x.jpg 2x" media="(min-width: 1400px)">
            <img  src="./img/page-room/slides-hero/room1-desc-1x.jpg " alt="room1">
          </picture>
          <picture class="pics-slides">
            <source srcset="
              ./img/page-room/slides-hero/room2-mob-1x.jpg 1x, 
              ./img/page-room/slides-hero/room2-mob-2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="
              ./img/page-room/slides-hero/room2-tab-1x.jpg 1x, 
              ./img/page-room/slides-hero/room2-tab-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="
              ./img/page-room/slides-hero/room2-desk-1x.jpg 1x, 
              ./img/page-room/slides-hero/room2-desk-2x.jpg 2x" media="(min-width: 1400px)">
            <img  src="./img/page-room/slides-hero/room2-tab-1x.jpg " alt="room2">
          </picture>
          <picture class="pics-slides">
            <source srcset="
              ./img/page-room/slides-hero/room3-mob-1x.jpg 1x, 
              ./img/page-room/slides-hero/room3-mob-2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="
              ./img/page-room/slides-hero/room3-tab-1x.jpg 1x, 
              ./img/page-room/slides-hero/room3-tab-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="
              ./img/page-room/slides-hero/room3-desk-1x.jpg 1x, 
              ./img/page-room/slides-hero/room3-desk-2x.jpg 2x" media="(min-width: 1400px)">
            <img  src="./img/page-room/slides-hero/room3-tab-1x.jpg " alt="room3">
          </picture>
          <picture class="pics-slides">
            <source srcset="
              ./img/page-room/slides-hero/room4-mob-1x.jpg 1x, 
              ./img/page-room/slides-hero/room4-mob-2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="
              ./img/page-room/slides-hero/room4-tab-1x.jpg 1x, 
              ./img/page-room/slides-hero/room4-tab-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="
              ./img/page-room/slides-hero/room4-desk-1x.jpg 1x, 
              ./img/page-room/slides-hero/room4-desk-2x.jpg 2x" media="(min-width: 1400px)">
            <img  src="./img/page-room/slides-hero/room4-tab-1x.jpg " alt="room4">
          </picture>
          <picture class="pics-slides">
            <source srcset="
              ./img/page-room/slides-hero/room5-mob-1x.jpg 1x, 
              ./img/page-room/slides-hero/room5-mob-2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="
              ./img/page-room/slides-hero/room5-tab-1x.jpg 1x, 
              ./img/page-room/slides-hero/room5-tab-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="
              ./img/page-room/slides-hero/room5-desk-1x.jpg 1x, 
              ./img/page-room/slides-hero/room5-desk-2x.jpg 2x" media="(min-width: 1400px)">
            <img  src="./img/page-room/slides-hero/room5-tab-1x.jpg " alt="room5">
          </picture>
          <picture class="pics-slides">
            <source srcset="
              ./img/page-room/slides-hero/room6-mob-1x.jpg 1x, 
              ./img/page-room/slides-hero/room6-mob-2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="
              ./img/page-room/slides-hero/room6-tab-1x.jpg 1x, 
              ./img/page-room/slides-hero/room6-tab-2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="
              ./img/page-room/slides-hero/room6-desk-1x.jpg 1x, 
              ./img/page-room/slides-hero/room6-desk-2x.jpg 2x" media="(min-width: 1400px)">
            <img  src="./img/page-room/slides-hero/room6-tab-1x.jpg " alt="room6">
          </picture>
        </div>
      </div>
    </div>
    <div class="room-desc">
      <p class="room-hero-desc">The mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay</p>
    </div>
  </div>
</section>
