.hotels-details{
    background-color: #121212;
    padding-top: 32px;
    padding-bottom: 32px;
}
.hotels-details-title{
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F7F7F7; 
}
.description-hotels-details{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #F7F7F7;
    min-width: 290px;
}

.btn-modal-room{
margin-top:82px;

}

.btn-left{
    margin-right: 0px;}

@media screen and (min-width: 375px) {
    .container {
      width: 375px;
    }
    .description-hotels-details{
        width: 335px;
    }
   .img-hotel-sinks{
    display: none;
   }
   .img-hotel-cream{
    display: none;
   }
   .img-hotel-bed{
    order: -1;
    margin-bottom: 27px;
   }
   .img-bottles-bath{
    display: flex;
    gap: 20px;
   }
   .picture-list{
    display: flex;
    flex-wrap: wrap;
    
    
}
   .btn-left{
    margin-right: 11px;}
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
     
    }
    .description-hotels-details{
        width: 368px;
    }
    .hotels-details-title{
        font-size: 68px;
    }
    .wrapper-text-hotels{
        display: flex;
        gap: 32px;
        align-items: center;
    }
    .img-hotel-cream{
        display: block;
       }
       
       .img-hotel-sinks{
        display: block;
       }
       .img-hotel-bed{
        order: 0;
        margin-left: 16px;
        margin-right: 16px;
        /* margin-bottom: 27px; */
       }
       .img-sinks-cream{
       display: flex;
       gap: 20px;
       }
       .img-bottles-bath{
        row-gap: 20px;
        flex-direction: column;
       }
       .img-sinks-cream{
        row-gap: 20px;
        flex-direction: column;
       }
  }
  @media screen and (min-width: 1440px) {
    .container {
      width: 1440px;
    }
   
       .img-hotel-cream{
        display: block;
       }
       .img-hotel-sinks{
        display: block;
       }
  }