.main-restaurants-details{
padding-top: 64px;
padding-bottom: 64px;
}
.container{
padding: 0 20px;
margin-left: auto;
margin-right: auto;
}
.res-parag{
    margin-bottom: 32px;
}
.title-res{
font-weight: 500;
font-size: 40px;
line-height: 1;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--brand-color);
}
.text-rest{    
width: 221px;
font-weight: 500;
font-size: 14px;
line-height: calc(18/14);
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--brand-color);
margin-top: 24px;
}
.slick-active{

}

.content-rest{
    width: 100%;
}

<<<<<<< Updated upstream
.content-rest:not(:last-child){
    margin-right: 20px;
=======
.btn-rest {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
>>>>>>> Stashed changes
}
.slide{
  position: relative;
}
.arrows{
  display: flex;
  gap: 20px;
  position: absolute;
  top:100%;
  right: 83.5%;
  transform: translate(15%, -83.5%);
  
}

.arrowsy{
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}
.qw{
  fill: var(--brand-color);
}


.btn {
    color: var(--brand-color);
    border: 0.8px solid var(--brand-color);
    }

.btn-rest{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:12px;
    margin-top: 82px;
    }
    

@media screen and (min-width: 375px){
    .container{
    width: 355px;}

<<<<<<< Updated upstream
=======
  .btn-rest {
    gap: 14px;
  }
  .arrows{
    top:100%;
    right: 90%;
    transform: translate(0%, -83.5%);
>>>>>>> Stashed changes
}



@media screen and (min-width: 768px){
.container{
    width: 768px;
}

.main-restaurants-details{
    padding-top: 80px;
    padding-bottom: 80px;
}
.res-parag{
display: flex;
align-items: center;
margin-bottom: 80px;
}
.title-res{
font-size: 68px;
margin-right: 32px;
}
.text-rest{
    margin: 0;
}

.content-rest:not(:last-child){
    margin-right: 32px;
}
.btn{
    padding: 8px 24px;
}

.btn-rest{
    gap:14px;
}
}

@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
        position: relative;
    }
    
    .main-restaurants-details{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .res-parag{
    display: flex;
    align-items: center;
    margin-bottom: 125px;
    }
    .title-res{
    font-size: 68px;
    margin-right: 32px;
<<<<<<< Updated upstream
    }
    .text-rest{
        margin: 0;
    }
    
    .btn{
        padding: 8px 24px;
    }
    
    .btn-rest{
        position: absolute;
        top: 0;
        right: 20px;
        transform: translate(0, 0);
        gap:24px;
        margin-top: 0;
    }
    }
    
=======
  }
  .text-rest {
    margin: 0;
  }

  .btn {
    padding: 8px 24px;
  }

  .btn-rest {
    position: absolute;
    top: 0;
    right: 20px;
    transform: translate(0, 0);
    gap: 24px;
    margin-top: 0;
  }
  .arrows{
    top:100%;
    right: 49%;
    transform: translate(0, 0);
}
}
}
>>>>>>> Stashed changes
