/* main-welcom */
.container{
    padding-left: 20px;
    padding-right: 20px;

}
/* .main-welcome{

}
.italic-font{

} */
.welcome-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 1.13;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}
/* .welcome-description{

} */


/* Mobile */