.bgr-room{
    background-color: var(--brand-color);
    border-top-color:var(--brand-color);
    border-right-color:var(--brand-color);
    border-left-color: var(--brand-color);
    border-bottom-width: 0.8px;
    border-bottom-style: solid;
    border-bottom-color: rgba(247, 247, 247, 0.2);
}
.bgr-room:hover,.bgr-room:focus,
 .bgr-room:visited  {
    background-color:#ffffff;
}
.text-comment{
    font-size: 8px;
    line-height:1.5;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #D8D7D7;
}
.window-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}
.tittle-modal-room{
    margin-bottom: 40px;
}
[placeholder]{
    color: blue;
}


