.btn {
  font-family: inherit;
  height: 34px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--brand-color);
  border: 0.8px solid var(--brand-color);
  border-radius: 32px;
  padding: 8px 18px;
  background-color: transparent;
  display: inline-block;
}

.btn:is(:hover, :focus) {
  color:#fff;
  background-color: var(--brand-color);
  color: var(--light-color);
}

.btn-black {
  border: 0.8px solid var(--light-color);
  color: var(--light-color);
}

.btn-black:is(:hover, :focus) {
  background-color: #fff;
  color: var(--brand-color);
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  .btn {
    line-height: 1.71;
    padding: 8px 24px;
    
  }
}
@media screen and (min-width: 1440px) {
  .btn {
    font-size: 18px;
    line-height: 1.33;
    padding: 9px 24px;
    height: 42px;
  }
}
