.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--brand-color);
  width: 100%;
  height: 100vh;
  padding: 22px 20px 24px 20px;
}

.mobil-menu-header {
  display: flex;
  padding-bottom: 22px;
  border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
  margin-bottom: 150px;
  align-items: center;
}

.mobil-menu-close-btn {
  border: 0px;
  background-color: transparent;
}
.menu-close-svg {
}

.mobil-header-logo-name {
  width: 120px;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--light-color);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.mobil-header-logo-text {
  font-weight: 400;
  font-size: 6px;
  line-height: 1.33;
  letter-spacing: 0.18em;
}

.mobil-nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.mobi-header-nav-list {
}
.mobi-header-nav-item {
  margin-bottom: 32px;
}
.mobi-header-nav-link {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--light-color);
}

.mobi-header-social-list {
  display: flex;
  position: absolute;
  bottom: 24px;
}

.mobi-header-social-item {
}
.mobi-header-social-link {
}
.mobi-header-social-icon {
  stroke: var(--light-color);
  fill: transparent;
}

@media screen and (min-width: 768px) {
  .mobil-header-logo-name {
    width: 150px;
    font-size: 20px;
    line-height: 1.2;
    margin-right: auto;
    margin-left: auto;
  }
  .mobil-header-logo-text {
    font-size: 8px;
    line-height: 1.25;
  }
  .mobi-header-nav-link {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .mobi-header-nav-item {
    margin-bottom: 40px;
  }

  .mobi-header-social-list {
    position: static;
  }
  .mobil-menu-header {
    justify-content: space-between;
  }
  .mobi-header-social-list {
    gap: 14px;
  }
}
