<section class="restaurant-menu">
  <div class="container restaurant-menu-cont">
    <!-- код писати тут -->
    <h2 class="restaurant-menu-title">RESTAURANT MENU</h2>
    <img src="./img/page-restaurant/kitchen/kitch1-desk-1x.jpg" alt="kitchen" />
    <!-- <img src="src\img\home\hotel\hotel1-desk-2x.jpg" alt="qqq"> -->
    <!-- <svg class="svg"> -->
    <!-- <use href="src\sprayt.svg#icon-twitter"></use> -->
    <!-- </svg> -->
    <h3 class="restaurant-menu-sub-title">Hot meals</h3>
    <ul>
      <li class="menu-name">Veal borscht with beans</li>
      <li class="menu-ingredient">
        Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes,
        greens, sour cream
      </li>
      <li class="menu-weight">400 g</li>
      <li class="menu-price">240 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Cheese soup with chicken</li>
      <li class="menu-ingredient">
        Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes,
        greens, sour cream
      </li>
      <li class="menu-weight">400 g</li>
      <li class="menu-price">200 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Carbonara pasta</li>
      <li class="menu-ingredient">
        Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens
      </li>
      <li class="menu-weight">400 g</li>
      <li class="menu-price">430 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Pork steak</li>
      <li class="menu-ingredient">
        Pork tenderloin, spices, served with sweet chili sauce and vegetables
      </li>
      <li class="menu-weight">400 g</li>
      <li class="menu-price">500 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Gorbusha in white wine sauce</li>
      <li class="menu-ingredient">
        Tender redfish, cream sauce based on white wine
      </li>
      <li class="menu-weight">400 g</li>
      <li class="menu-price">400 UAH</li>
    </ul>

    <h3 class="restaurant-menu-sub-title">Side dishes and snacks</h3>
    <ul>
      <li class="menu-name">Baked vegetables</li>
      <li class="menu-ingredient">Zucchini, pepper, tomato, eggplant</li>
      <li class="menu-weight">200 g</li>
      <li class="menu-price">230 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">French fries</li>
      <li class="menu-ingredient">Potatoes, tomato sauce</li>
      <li class="menu-weight">150 g</li>
      <li class="menu-price">160 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Peasant-style potatoes</li>
      <li class="menu-ingredient">Potatoes, spices, spicy sauces</li>
      <li class="menu-weight">150 g</li>
      <li class="menu-price">160 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Crisp pickles from the barrel</li>
      <li class="menu-ingredient">
        Salted cucumber, pickled tomato, sauerkraut, Korean carrot
      </li>
      <li class="menu-weight">250 g</li>
      <li class="menu-price">350 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Chicken wings in honey sauce</li>
      <li class="menu-ingredient">
        Chicken wings, mustard-honey sauce, served with carrots, celery and blue
        cheese sauce
      </li>
      <li class="menu-weight">400 g</li>
      <li></li>
    </ul>

    <h3 class="restaurant-menu-sub-title">Salads</h3>
    <ul>
      <li class="menu-name">Caesar with chicken</li>
      <li class="menu-ingredient">
        Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons,
        Caesar sauce
      </li>
      <li class="menu-weight">230 g</li>
      <li class="menu-price">450 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Caesar with shrimp</li>
      <li class="menu-ingredient">
        Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons,
        caesar sauce
      </li>
      <li class="menu-weight">230 g</li>
      <li class="menu-price">300 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Greek salad</li>
      <li class="menu-ingredient">
        Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce,
        sauce
      </li>
      <li class="menu-weight">230 g</li>
      <li class="menu-price">280 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Meat salad</li>
      <li class="menu-ingredient">
        Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper,
        ranch sauce
      </li>
      <li class="menu-weight">230 g</li>
      <li class="menu-price">300 UAH</li>
    </ul>

    <h3 class="restaurant-menu-sub-title">Desserts</h3>
    <ul>
      <li class="menu-name">Napoleon cake</li>
      <li class="menu-price">200 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Poppy cake</li>
      <li class="menu-price">300 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Tiramisu</li>
      <li class="menu-price">260 UAH</li>
    </ul>

    <h3 class="restaurant-menu-sub-title">Drinks</h3>
    <ul>
      <li class="menu-name">Black/green tea</li>
      <li class="menu-price">100 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Espresso</li>
      <li class="menu-price">100 UAH</li>
    </ul>
    <ul>
      <li class="menu-name">Cappuccino</li>
      <li class="menu-price">100 UAH</li>
    </ul>
    <button type="button" class="btn">book a table</button>
  </div>
</section>
