<div class="backdrop is-hidden" data-modal-hero-table data-modal-rest-table data-modal-page-rest-table
  data-modal-page-rest-menu-table data-modal-page-rest-menu-slick-table>
  <div class="modal">
    <div class="modal-cont modal-close-cross">
      <button type="button" data-modal-table-hero-close data-modal-table-page-rest-close class="modal-close">

        <svg class="modal-icon-cross" width="28" height="28">
          <use href="./img/sprayt.svg#icon-close"></use>
        </svg>

      </button>

      <p class="modal-title">BOOK A TABLE</p>

      <div class="modal-forms ">
        <div class="modal-forms-cont">
          <div class="modal-list">

            <div class="input-wrap">
              <input type="text" name="name" placeholder="Your name" class="modal-input" required minlength="3" />
            </div>
            <p class="folse-plhpld">Who should book a table for?</p>
          </div>

          <div class="modal-forms-cont">
            <div class="modal-list modal-input-people">

              <div class="input-wrap">
                <select id="Numb-people" name="Numb-people" class="modal-input" required>
                  <option value="" selected>
                    NUMBER OF PEOPLE
                  </option>
                  <option value="one">1</option>
                  <option value="two">2</option>
                  <option value="three">3</option>
                  <option value="four">4</option>
                  <option value="five">5</option>
                  <option value="six">6</option>
                  <option value="seven">7</option>
                  <option value="eight">8</option>
                  <option value="big">Wedding</option>
                </select>
              </div>
            </div>
          </div>

          <div class="modal-forms-2">
            <div class="modal-forms-cont">
              <div class="modal-list">

                <div class="input-wrap">
                  <input type="date" value="" class="input-txt" id="date" aria-required="true" aria-invalid="false"
                    placeholder="TODAY" onchange="this.className=(this.value!=''?'has-value':'')" />
                </div>
                <p class="folse-plhpld">What date to book?</p>
              </div>
            </div>

            <div class="modal-forms-cont">
              <div class="modal-list">
                <!-- <label class="modal-list"></label> -->
                <div class="input-wrap">
                  <input type="tel" name="phone" placeholder="+ 38 ( )" class="modal-input" required />
                </div>
                <p class="folse-plhpld">Phone number</p>
              </div>
            </div>
          </div>
          <div class="modal-btn-cont">
            <button type="submit" class="btn btn-black modal-btn">
              <span class="text-btn">MAKE A RESERVATION</span>
            </button>
          </div>

        </div>
      </div>
      <script src="./js/modal-table.js"></script>
    </div>
  </div>
</div>