<div class="backdrop ">
    <div class="modal">
        <div class="modal-container ">
            <button class="modal-close-btn">
            <svg class="close-svg svg-position" widht="28" height="28">
            <use href="./img/sprayt.svg#icon-close"></use>
            </svg>
            </button>
            <h2 class="title-modal-pr">prices per room </h2>
            <p class="text-modal-pr">double suite</p>
        <form class="modal-price-form">
            <select class="modal-input nights" id="quickly" name="quickly">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option  value="3" >3</option>
                <option value="4">4</option>
            </select>
            <label for="quickly" class="label-prices">number of nights</label>
        </div>
       

          <button class="btn btn-black modal-btn modal-block" type="submit">
            make a reservation
          </button>
        </form>
      </div>
    </div>
  </div>