<div class="backdrop ">
    <div class="modal">
      <div class="modal-container container-abs">
        <button class="modal-close-btn">
          <svg class="close-svg svg-position" widht="28" height="28">
            <use href="./img/sprayt.svg#icon-close"></use>
          </svg>
        </button>
        <p class="modal-name tittle-modal-room">BOOK A ROOM</p>
        <form class="modal-form">
            <div class="window-block">
          <laber class="modal-text" for="name">Your name</laber>
          <input class="modal-input bgr-room" type="name" name="name" id="name" placeholder=" " />
          <label class="text-comment">Who should book a table for? </label>
        </div>
        <div class="window-block">
          <laber class="modal-text">+ 38 ()</laber>
          <input class="modal-input bgr-room" type="tel" placeholder=" " pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}" />
          <label class="text-comment">Phone number</label>
        </div>
        <div class="window-block">
          <laber for="people bgr-room" class="modal-text">Today</laber>
          <select class="" name="people" id="people">
            <option value="0">Today</option>
            <option value="+1">Tomorrow</option>
            <option value="-1">Yesterday</option>
            <option value="+7">Next week</option>
            <option value="-7">Last week</option>
          </select>
            <input class="modal-input bgr-room " type="text" placeholder=" " />
            <label class="text-comment">Check-in date</label>
        </div>
        <div class="window-block">
            <laber class="modal-text">25/04/2023</laber>
            <input class="modal-input bgr-room" type="date" placeholder=" " />
            <label class="text-comment">Check-in date</label>
          </div>

          <div class="window-block">
            <laber class="modal-text">Double suite</laber>
            <input class="modal-input bgr-room" type="text" placeholder=" " />
            <label class="text-comment">Number category</label>
          </div>

          <button class="btn btn-black modal-btn modal-block" type="submit">
            SMAKE A RESERVATION
          </button>
        </form>
      </div>
    </div>
  </div>