<section class="main-about">
  <div class="container about-cont">
    <!-- код писати тут -->
    <div class="pict-cont1">
    <picture>
      <source srcset="
        ./img/home/about/card1-desk-1x.jpg 1x, 
        ./img/home/about/card1-desk-2x.jpg 2x" media="(min-width: 1440px)">
      <source srcset="
        ./img/home/about/card1-mob-1xnew.jpg 1x, 
        ./img/home/about/card1-mob-2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="
        ./img/home/about/card1-tab-1x.jpg 1x, 
        ./img/home/about/card1-tab-2x.jpg 2x" media="(min-width: 768px)">
      <img class="card1" src="./img/home/about/card1-mob-1xnew.jpg" alt="card1">
    </picture>

    <picture>
      <source srcset="
        ./img/home/about/card-maria-desk-1x.jpg 1x, 
        ./img/home/about/card-maria-desk-2x.jpg 2x" media="(min-width: 1440px)">
      <source srcset="
        ./img/home/about/card-maria-1x.jpg 1x, 
        ./img/home/about/card-maria-2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="
        ./img/home/about/card-maria-tab-1x.jpg 1x, 
        ./img/home/about/card-maria-tab-2x.jpg 2x" media="(min-width: 768px)">
      <img class="maria" src="./img/home/about/card-maria-1x.jpg" alt="maria">
    </picture>

    <picture>
      <source srcset="
        ./img/home/about/card2-desk-1x.jpg 1x, 
        ./img/home/about/card2-desk-2x.jpg 2x" media="(min-width: 1440px)">
      <source srcset="
        ./img/home/about/card2-mob-1x.jpg 1x, 
        ./img/home/about/card2-mob-1x.jpg 2x" media="(max-width: 767px)">
      <source srcset="
        ./img/home/about/card2-tab-1x.jpg 1x, 
        ./img/home/about/card2-tab-2x.jpg 2x" media="(min-width: 768px)">
      <img class="card2" src="./img/home/about/card2-mob-1x.jpg" alt="card2">
    </picture>
    </div>

    <div class="about-text-cont">
      <h3 class="about-title">restaurant-hotel complex</h3>
      <p class="about-sub-text">Indulge in a taste of luxury with every bite at Hotel Mimino. From the freshest seafood to the most succulent
      steaks,
      every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</p>
    <p class="about-sub-text">Treat yourself to a taste of the good life and come dine with us today!</p>
    </div>

    <div class="pict-cont2">
    <picture>
      <source srcset="
        ./img/home/about/card3-desk-1x.jpg 1x, 
        ./img/home/about/card3-desk-2x.jpg 2x" media="(min-width: 1440px)">
      <source srcset="
        ./img/home/about/card3-mob-1x.jpg 1x, 
        ./img/home/about/card3-mob-2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="
        ./img/home/about/card3-tab-1x.jpg 1x, 
        ./img/home/about/card3-tab-2x.jpg 2x" media="(min-width: 768px)">
      <img class="card3" src="./img/home/about/card3-mob-1x.jpg" alt="card3">
    </picture>
  
    <picture>
      <source srcset="
        ./img/home/about/card-alex-desk-1x.jpg 1x, 
        ./img/home/about/card-alex-desk-2x.jpg 2x" media="(min-width: 1440px)">
      <source srcset="
        ./img/home/about/card-alex-1x.jpg 1x, 
        ./img/home/about/card-alex-2x.jpg 2x" media="(max-width: 767px)">
      <source srcset="
        ./img/home/about/card-alex-tab-1x.jpg 1x, 
        ./img/home/about/card-alex-tab-2x.jpg 2x" media="(min-width: 768px)">
      <img class="alex" src="./img/home/about/card-alex-1x.jpg" alt="alex">
    </picture>

    <div class="about-text-cont-2">
    <h3 class="about-title">business class hotel</h3>
    <p class="about-sub-text-1">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.
    </p>
    </div>
    </div>

    <div class="pict-cont1">
    <picture>
      <source srcset="
        ./img/home/about/card4-desk-1x.jpg 1x, 
        ./img/home/about/card4-desk-2x.jpg 2x" media="(min-width: 1440px)">
      <source srcset="
      ./img/home/about/card4-mob-1x.jpg 1x, 
      ./img/home/about/card4-mob-1x.jpg 2x" media="(max-width: 767px)">
      <source srcset="
      ./img/home/about/card4-tab-1x.jpg 1x, 
      ./img/home/about/card4-tab-2x.jpg 2x" media="(min-width: 768px)">
      <img class="card4" src="./img/home/about/card4-mob-1x.jpg" alt="card4">
    </picture>
    </div>
  </div>
</section>