<section class="main-hero">
  <div class="container main-hero-container">
    <h1 class="main-hero-title">Mimino</h1>

    <div class="hero-desktop">
      <ul class="main-hero-btn">
        <li class="main-hero-btn-item">
          <button
            class="btn btn-black js-open-modal"
            type="button"
            data-modal-room-open
          >
            book a room
          </button>
        </li>
        <li class="main-hero-btn-item">
          <button class="btn btn-black" type="button" data-modal-table-hero-open>
            book a table
          </button>
        </li>
      </ul>

      <div class="hero-text-cont">
        <p class="main-hero-text">
          Whether you're in the mood for a hearty breakfast, a light lunch, or a
          romantic dinner, our menu has something for everyone.
        </p>
        <p class="main-hero-text">
          At Hotel Mimino, we believe that great food should be available to
          everyone, no matter the time of day.
        </p>
      </div>
    </div>
  </div>
</section>
