<section class="main-location-contacts">
  <div class="container">
    <h2 class="location">location</h2>
    <ul class="map">
      <li class="map-image">
        <img
          srcset="./img/location/map-mob-1x.jpg 1x, ./img/location/map-mob-2x.jpg 2x"
          class="doing-img"
          src="./images/Rectangle1.jpg"
          alt="map"
          width="335"
        />
      </li>
    </ul>
    <ul>
      <a
        href="https://goo.gl/maps/oJpkfwyHE76RiPHK7" target="_blank"
        class="map-text link"
        >Ukraine, Poltava,<br>St. Marshal Biryuzov, 15</a
      >
    </ul>
    <ul class="contacts-list">
      <h3>call us:</h3>
      <li class="contacts-item">
        <a class="phone-number link" href="tel:+380955559533"
          >(095) 555 95 33
        </a>
      </li>
      <li class="contacts-item">
        <a class="phone-number link" href="tel:+380668491089"
          >(066) 849 10 89
        </a>
      </li>
    </ul>
  </div>
</section>
