<div class="mobile-menu is-hidden" data-menu>
  <div class="mobil-menu-header">
    <div class="container mobi-header-container">
      <button class="mobil-menu-close-btn" type="button" data-menu-close>
        <svg class="menu-close-svg" width="28" height="28">
          <use href="./img/sprayt.svg#icon-close"></use>
        </svg>
      </button>

      <a href="./index.html" class="mobil-header-logo-name"
        >Mimino
        <span class="mobil-header-logo-text">restaurant-hotel complex</span></a
      >
      <ul class="mobi-header-social-list">
        <li class="mobi-header-social-item">
          <a href="" class="mobi-header-social-link">
            <svg class="mobi-header-social-icon" width="24" height="24">
              <use href="./img/sprayt.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobi-header-social-item">
          <a href="" class="mobi-header-social-link">
            <svg class="mobi-header-social-icon" width="24" height="24">
              <use href="./img/sprayt.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobi-header-social-item">
          <a href="" class="mobi-header-social-link">
            <svg class="mobi-header-social-icon" width="24" height="24">
              <use href="./img/sprayt.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <nav class="mobil-nav">
      <ul class="mobi-header-nav-list">
        <li class="mobi-header-nav-item">
          <a href="./index.html" class="mobi-header-nav-link">home</a>
        </li>
        <li class="mobi-header-nav-item">
          <a href="./hotel.html" class="mobi-header-nav-link">hotel</a>
        </li>
        <li class="mobi-header-nav-item">
          <a href="./restaurant.html" class="mobi-header-nav-link"
            >restaurant</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
