<section class="main-restaurants-details">
  <div class="container">
    <!-- код писати тут -->
    <div class="res-parag">
      <h2 class="title-res"><a href="">restaurant</a></h2>
      <p class="text-rest">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </p>
    </div>
    <div class="slide">
      <div class="responsive content-re">
        <div class="content-rest">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/home/restaurant/box1-desk-1x.jpg 1x,
                  ./img/home/restaurant/box1-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)"
              />
              <source
                srcset="
                  ./img/home/restaurant/box1-tab-1x.jpg 1x,
                  ./img/home/restaurant/box1-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/home/restaurant/box1-mob-1x.jpg 1x,
                  ./img/home/restaurant/box1-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-res-det"
                src="./img/home/restaurant/box1-desk-1x.jpg"
                alt="ice"
                width="336"
                height="309"
              />
            </picture>
          </h3>
        </div>
        <div class="content-rest">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/home/restaurant/box4-desk-1x.jpg 1x,
                  ./img/home/restaurant/box4-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)"
              />
              <source
                srcset="
                  ./img/home/restaurant/box4-tab-1x.jpg 1x,
                  ./img/home/restaurant/box4-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/home/restaurant/box4-mob-1x.jpg 1x,
                  ./img/home/restaurant/box4-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-res-det"
                src="./img/home/restaurant/box4-desk-1x.jpg"
                alt="iw"
                width="336"
                height="309"
              />
            </picture>
          </h3>
        </div>
        <div class="content-rest">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/home/restaurant/box6-desk-1x.jpg 1x,
                  ./img/home/restaurant/box6-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)" />
              <source
                srcset="
                  ./img/home/restaurant/box6-tab-1x.jpg 1x,
                  ./img/home/restaurant/box6-tab-2x.jpg 2x
                "
                media="(min-width: 768px)" />
              <source
                srcset="
                  ./img/home/restaurant/box6-mob-1x.jpg 1x,
                  ./img/home/restaurant/box6-mob-2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <img
                class="img-project"
                src="./img/home/restaurant/box6-desk-1x.jpg"
                alt="table"
                width="336"
                height="309"
            /></picture>
          </h3>
        </div>
        <div class="content-rest">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/home/restaurant/box7-desk-1x.jpg 1x,
                  ./img/home/restaurant/box7-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)" />
              <source
                srcset="
                  ./img/home/restaurant/box7-tab-1x.jpg 1x,
                  ./img/home/restaurant/box7-tab-2x.jpg 2x
                "
                media="(min-width: 768px)" />
              <source
                srcset="
                  ./img/home/restaurant/box7-mob-1x.jpg 1x,
                  ./img/home/restaurant/box7-mob-2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <img
                class="img-project"
                src="./img/home/restaurant/box7-desk-1x.jpg"
                alt="girl"
                width="336"
                height="309"
            /></picture>
          </h3>
        </div>
        <div class="content-rest">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/home/restaurant/box8-desk-1x.jpg 1x,
                  ./img/home/restaurant/box8-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)" />
              <source
                srcset="
                  ./img/home/restaurant/box8-tab-1x.jpg 1x,
                  ./img/home/restaurant/box8-tab-2x.jpg 2x
                "
                media="(min-width: 768px)" />
              <source
                srcset="
                  ./img/home/restaurant/box8-mob-1x.jpg 1x,
                  ./img/home/restaurant/box8-mob-2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <img
                class="img-project"
                src="./img/home/restaurant/box8-desk-1x.jpg"
                alt="food"
                width="336"
                height="309"
            /></picture>
          </h3>
        </div>
        <div class="content-rest">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/home/restaurant/box9-desk-1x.jpg 1x,
                  ./img/home/restaurant/box9-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)" />
              <source
                srcset="
                  ./img/home/restaurant/box9-tab-1x.jpg 1x,
                  ./img/home/restaurant/box9-tab-2x.jpg 2x
                "
                media="(min-width: 768px)" />
              <source
                srcset="
                  ./img/home/restaurant/box9-mob-1x.jpg 1x,
                  ./img/home/restaurant/box9-mob-2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <img
                class="img-project"
                src="./img/home/restaurant/box9-desk-1x.jpg"
                alt="glass"
                width="336"
                height="309"
            /></picture>
          </h3>
        </div>
        <div class="content-rest">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/home/restaurant/box10-desk-1x.jpg 1x,
                  ./img/home/restaurant/box10-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)" />
              <source
                srcset="
                  ./img/home/restaurant/box10-tab-1x.jpg 1x,
                  ./img/home/restaurant/box10-tab-2x.jpg 2x
                "
                media="(min-width: 768px)" />
              <source
                srcset="
                  ./img/home/restaurant/box10-mob-1x.jpg 1x,
                  ./img/home/restaurant/box10-mob-2x.jpg 2x
                "
                media="(max-width: 767px)" />
              <img
                class="img-project"
                src="./img/home/restaurant/box10-desk-1x.jpg"
                alt="plate"
                width="336"
                height="309"
            /></picture>
          </h3>
        </div>
      </div>
      <div class="btn-rest">
        <button class="btn">book a table</button>
        <a href="./restaurant.html#restaurant-menu" class="btn"
          >view the menu</a
        >
      </div>
    </div>
  </div>
</section>
