<section class="main-restaurants-details">
  <div class="conteiner">
    <!-- код писати тут -->
    <div class="res-parag">
      <h2 class="title-res"><a href="">restaurant</a> </h2>
    <p class="text-rest">
      Relax and unwind with our delicious offerings, available any time of day.
    </p>
    </div>
    <ul class="content-re">
      <li class="content-rest"><picture>
        <source
          srcset="
            ./img/home/restaurant/box1-desk-1x.jpg 1x,
            ./img/home/restaurant/box1-desk-2x.jpg 2x
          "
          media="(min-width: 1376px)"
        />
        <source
          srcset="
            ./img/home/restaurant/box1-tab-1x.jpg 1x,
            ./img/home/restaurant/box1-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/home/restaurant/box1-mob-1x.jpg 1x,
            ./img/home/restaurant/box1-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="img-res-det"
          src="./img/home/restaurant/box1-desk-1x.jpg"
          alt="ice"
          width="336"
          height="309"
        />
      </picture></li>
      <li class="content-rest content-none"><picture>
        <source
          srcset="
            ./img/home/restaurant/box2-desk-1x.jpg 1x,
            ./img/home/restaurant/box2-desk-2x.jpg 2x
          "
          media="(min-width: 1376px)"
        />
        <source
          srcset="
            ./img/home/restaurant/box2-tab-1x.jpg 1x,
            ./img/home/restaurant/box2-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/home/restaurant/box2-mob-1x.jpg 1x,
            ./img/home/restaurant/box2-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="img-res-det"
          src="./img/home/restaurant/box2-desk-1x.jpg"
          alt="ice"
          width="336"
          height="309"
        />
      </picture></li>
      <li class="content-rest content-none"><picture>
        <source
          srcset="
            ./img/home/restaurant/box3-desk-1x.jpg 1x,
            ./img/home/restaurant/box3-desk-2x.jpg 2x
          "
          media="(min-width: 1376px)"
        />
        <source
          srcset="
            ./img/home/restaurant/box3-tab-1x.jpg 1x,
            ./img/home/restaurant/box3-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/home/restaurant/box3-mob-1x.jpg 1x,
            ./img/home/restaurant/box3-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="img-res-det"
          src="./img/home/restaurant/box3-desk-1x.jpg"
          alt="ice"
          width="336"
          height="309"
        />
      </picture></li>
      <li class="content-rest"><picture>
        <source
          srcset="
            ./img/home/restaurant/box4-desk-1x.jpg 1x,
            ./img/home/restaurant/box4-desk-2x.jpg 2x
          "
          media="(min-width: 1376px)"
        />
        <source
          srcset="
            ./img/home/restaurant/box4-tab-1x.jpg 1x,
            ./img/home/restaurant/box4-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/home/restaurant/box4-mob-1x.jpg 1x,
            ./img/home/restaurant/box4-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="img-project"
          src="./img/home/restaurant/box4-desk-1x.jpg"
          alt="shef"
          width="336"
          height="309"
        />
      </picture></li>
      <li class="content-rest content-none"><picture>
        <source
          srcset="
            ./img/home/restaurant/box5-desk-1x.jpg 1x,
            ./img/home/restaurant/box5-desk-2x.jpg 2x
          "
          media="(min-width: 1376px)"
        />
        <source
          srcset="
            ./img/home/restaurant/box5-tab-1x.jpg 1x,
            ./img/home/restaurant/box5-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/home/restaurant/box5-mob-1x.jpg 1x,
            ./img/home/restaurant/box5-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="img-res-det"
          src="./img/home/restaurant/box5-desk-1x.jpg"
          alt="ice"
          width="336"
          height="309"
        />
      </picture></li>
    </ul>
      <div class="btn-rest">
      <button class="btn">book a table</button>
      <button class="btn">view the menu</button>
    </div>
        
  </div>
</section>
