<section class="slick">
    <div class="container slick-cont">
        <h2 class="restaurant-menu-title">RESTAURANT MENU</h2>
        <div class="single-item">
            <div>

                <h3 class="restaurant-menu-sub-title">Hot meals</h3>
                <div class="menu-list-cont-slick">
                    <ul class="menu-list">
                        <li class="menu-name">Veal borscht with beans<span class="menu-weight">400 g</span></li>
                        <li class="menu-ingredient">Veal, potatoes, cabbage, carrots,<br> onions, beans, garlic,
                            tomatoes,<br>greens, sour cream<span class="menu-price">240 UAH</span></li>

                    </ul>
                    <ul>
                        <li class="menu-name">Cheese soup with chicken <span class="menu-weight">400 g</span></li>
                        <li class="menu-ingredient">Chicken, potatoes, carrots,<br> onions, mushrooms, soft<br> cheese,
                            greens<span class="menu-price">200 UAH</span></li>

                    </ul>
                    <ul>
                        <li class="menu-name">Carbonara pasta<span class="menu-weight">400 g</span></li>
                        <li class="menu-ingredient">Tagliatelle pasta, bacon, cream,<br> Parmesan cheese, egg,
                            greens<span class="menu-price">430 UAH</span></li>

                    </ul>
                    <ul>
                        <li class="menu-name">Pork steak<span class="menu-weight">400 g</span></li>
                        <li class="menu-ingredient">Pork tenderloin, spices, served<br> with sweet chili sauce and<br>
                            vegetables<span class="menu-price">500 UAH</span></li>
                    </ul>
                    <ul>
                        <li class="menu-name">Gorbusha in white wine sauce<span class="menu-weight">400 g</span></li>
                        <li class="menu-ingredient">Tender redfish, cream sauce<br> based on white wine<span
                                class="menu-price">400 UAH</span></li>
                    </ul>
                </div>
            </div>


            <div>
                <h3 class="restaurant-menu-sub-title">Side dishes and snacks</h3>
                <ul class="menu-list-cont-slick">
                    <li class="menu-name">Baked vegetables<span class="menu-weight">200 g</span></li>
                    <li class="menu-weight"></li>
                    <li class="menu-ingredient">Zucchini, pepper, tomato, eggplant<span class="menu-price">230
                            UAH</span></li>
                </ul>
                <ul>
                    <li class="menu-name">French fries<span class="menu-weight">150 g</span></li>
                    <li class="menu-ingredient">Potatoes, tomato sauce<span class="menu-price">160 UAH</span></li>
                </ul>
                <ul>
                    <li class="menu-name">Peasant-style potatoes<span class="menu-weight">150 g</span></li>
                    <li class="menu-ingredient">Potatoes, spices, spicy sauces<span class="menu-price">160 UAH</span>
                    </li>
                </ul>
                <ul>
                    <li class="menu-name">Crisp pickles from the barrel<span class="menu-weight">250 g</span></li>
                    <li class="menu-ingredient">Salted cucumber, pickled tomato,<br> sauerkraut, Korean carrot<span
                            class="menu-price">350 UAH</span></li>
                </ul>
                <ul>
                    <li class="menu-name">Chicken wings in honey sauce<span class="menu-weight">400 g</span></li>
                    <li class="menu-ingredient">Chicken wings, mustard-honey sauce,<br> served with carrots, celery and
                        blue<br> cheese sauce<span class="menu-price"></span></li>
                </ul>
            </div>


            <div>
                <h3 class="restaurant-menu-sub-title">Salads</h3>
                <ul>
                    <li class="menu-name">Caesar with chicken<span class="menu-weight">230 g</span></li>
                    <li class="menu-ingredient">Chicken fillet, lettuce,<br> cherry tomatoes, Parmesan cheese,<br>
                        croutons, Caesar sauce<span class="menu-price">450 UAH</span></li>
                </ul>
                <ul>
                    <li class="menu-name">Caesar with shrimp<span class="menu-weight">230 g</span></li>
                    <li class="menu-ingredient">Tiger shrimp, lettuce, cherry<br> tomatoes, parmesan cheese,<br>
                        croutons, caesar sauce<span class="menu-price">300 UAH</span></li>
                </ul>
                <ul>
                    <li class="menu-name">Greek salad<span class="menu-weight">230 g</span></li>
                    <li class="menu-ingredient">Fresh cucumber, tomato,<br> bell pepper, olives, brynza cheese,<br>
                        lettuce, sauce<span class="menu-price">280 UAH</span></li>
                </ul>
                <ul>
                    <li class="menu-name">Meat salad<span class="menu-weight"></span>230 g</li>
                    <li class="menu-ingredient">Chicken fillet or pork tenderloin, <br>fresh cucumber, tomato,<br> bell
                        pepper, ranch sauce<span class="menu-price">300 UAH</span></li>
                </ul>
            </div>


            <div>
                <h3 class="restaurant-menu-sub-title">Desserts</h3>
                <ul>
                    <li class="menu-name-little">Napoleon cake<span class="menu-price">200 UAH</span></li>
                </ul>
                <ul>
                    <li class="menu-name-little">Poppy cake<span class="menu-price">300 UAH</span></li>
                </ul>
                <ul>
                    <li class="menu-name-little">Tiramisu<span class="menu-price">260 UAH</span></li>
                </ul>
            </div>


            <div>
                <h3 class="restaurant-menu-sub-title">Drinks</h3>
                <ul>
                    <li class="menu-name-little">Black/green tea<span class="menu-price">100 UAH</span></li>
                </ul>
                <ul>
                    <li class="menu-name-little">Espresso<span class="menu-price">100 UAH</span></li>
                </ul>
                <ul>
                    <li class="menu-name-little">Cappuccino<span class="menu-price">100 UAH</span></li>
                </ul>
            </div>
        </div>
        
        <div class="menu-slick-icons-cont">
        <svg class="menu-slick-icons-prevArrow">
            <use href="./img/sprayt.svg#icon-prevArrow" ></use>
        </svg>
        <svg class="menu-slick-icons-nextArrow" >
            <use href="./img/sprayt.svg#icon-nextArrow">
                </use>
        </svg>
        </div>
        <div class="menu-btn">
            <button type="button" class="btn bnt-black">book a table</button>
        </div>
    </div>
</section>
