<section class="hotel-luxury">
  <div class="container">
    <!-- код писати тут -->
    <ul class="hotel-room-list">
      <li class="room-img-one">
        <picture>
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr2-desk-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr2-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr3-tab-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr3-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr1-mob-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr1-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/page-hotel/double-luxury-room/dlr1-mob-1x.jpg"
            alt="bedroom"
          />
        </picture>
      </li>

      <li class="room-img-two">
        <picture>
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr3-desk-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr3-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr1-tab-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr1-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr2-mob-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr2-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/page-hotel/double-luxury-room/dlr2-mob-1x.jpg"
            alt="bathroom"
          />
        </picture>
      </li>

      <li class="room-img-three">
        <picture>
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr1-desk-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr1-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr2-tab-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr2-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr3-mob-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr3-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/page-hotel/double-luxury-room/dlr3-mob-1x.jpg"
            alt="kitchen"
          />
        </picture>
      </li>
    </ul>
    <ul class="hotel-room-list-tab">
      <li class="hotel-box-img">
        <picture class="room-img-two-tab">
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr3-desk-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr3-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr1-tab-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr1-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr2-mob-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr2-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/page-hotel/double-luxury-room/dlr2-mob-1x.jpg"
            alt="bathroom"
          />
        </picture>

        <picture class="room-img-three-tab">
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr1-desk-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr1-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr2-tab-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr2-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr3-mob-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr3-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/page-hotel/double-luxury-room/dlr3-mob-1x.jpg"
            alt="kitchen"
          />
        </picture>
      </li>

      <li class="room-img-one-tab">
        <picture>
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr2-desk-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr2-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr3-tab-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr3-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/page-hotel/double-luxury-room/dlr1-mob-1x.jpg 1x,
              ./img/page-hotel/double-luxury-room/dlr1-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/page-hotel/double-luxury-room/dlr1-mob-1x.jpg"
            alt="bedroom"
          />
        </picture>
      </li>
    </ul>
    <div class="hotel-luxury-container-senter">
      <div class="hotel-luxury-container">
        <div class="hotel-luxury-btn-desktop">
          <h2 class="title-hotel-room">DOUBLE LUXURY ROOM</h2>
          <div class="hotel-luxury-btn-top">
            <a href="./room.html" class="btn">More details</a>
            <button type="button" class="btn js-open-modal" data-modal="price">
              View prices
            </button>
          </div>
        </div>
        <div class="about-hotel-room">
          <p class="double-hotel-room-one">
            Experience luxury in our Double Luxury Room at Mimino Hotel. This
            spacious room features a comfortable bed, private bathroom,
            flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
            curtains, and soundproofing ensure a peaceful night's sleep.
          </p>
          <p class="double-hotel-room-two">
            Relax after a busy day at the writing desk or armchair. Book now for
            a convenient and comfortable stay.
          </p>
        </div>
        <div class="hotel-luxury-btn">
          <a href="./room.html" class="btn">More details</a>
          <button type="button" class="btn js-open-modal" data-modal="price">
            View prices
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
