<section class="hotel-four">
  <div class="container">
    <div class="fs-section">
      <ul class="fs-list-mob">
        <li class="fs-room1">
          <picture class="fs-room1">
            <source
              srcset="
                ./img/page-hotel/four-seater-room/fsr1-mob-1x-min.jpg 1x,
                ./img/page-hotel/four-seater-room/fsr1-mob-2x-min.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/page-hotel/four-seater-room/fsr1-mob-1x-min.jpg "
              alt="room1"
            />
          </picture>
        </li>
        <div class="fs-room2-room3">
          <li class="fs-room2">
            <picture>
              <source
                srcset="
                  ./img/page-hotel/four-seater-room/fsr2-mob-1x-min.jpg 1x,
                  ./img/page-hotel/four-seater-room/fsr2-mob-2x-min.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/page-hotel/four-seater-room/fsr2-mob-1x-min.jpg "
                alt="room2"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                srcset="
                  ./img/page-hotel/four-seater-room/fsr3-mob-1x-min.jpg 1x,
                  ./img/page-hotel/four-seater-room/fsr3-mob-2x-min.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/page-hotel/four-seater-room/fsr3-desc-1x-min.jpg "
                alt="room3"
              />
            </picture>
          </li>
        </div>
      </ul>
      <ul class="fs-list-tab">
        <div class="fs-room1-room2">
          <li class="fs-tab-room1">
            <picture>
              <source
                srcset="
                  ./img/page-hotel/four-seater-room/fsr1-tab-1x-min.jpg 1x,
                  ./img/page-hotel/four-seater-room/fsr1-tab-2x-min.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/page-hotel/four-seater-room/fsr1-desc-1x-min.jpg "
                alt="room1"
              />
            </picture>
          </li>
          <li class="fs-tab-room2">
            <picture>
              <source
                srcset="
                  ./img/page-hotel/four-seater-room/fsr2-tab-1x-min.jpg 1x,
                  ./img/page-hotel/four-seater-room/fsr2-tab-2x-min.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/page-hotel/four-seater-room/fsr2-tab-1x-min.jpg "
                alt="room2"
              />
            </picture>
          </li>
        </div>
        <li class="fs-tab-room3">
          <picture>
            <source
              srcset="
                ./img/page-hotel/four-seater-room/fsr3-tab-1x-min.jpg 1x,
                ./img/page-hotel/four-seater-room/fsr3-tab-2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/page-hotel/four-seater-room/fsr3-tab-1x-min.jpg "
              alt="room3"
            />
          </picture>
        </li>
      </ul>
      <ul class="fs-list-desc">
        <li class="fs-desc-room">
          <picture>
            <source
              srcset="
                ./img/page-hotel/four-seater-room/fsr1-desk-1x-min.jpg 1x,
                ./img/page-hotel/four-seater-room/fsr1-desk-2x-min.jpg 2x
              "
              media="(min-width: 1400px)"
            />
            <img
              src="./img/page-hotel/four-seater-room/fsr1-desc-1x-min.jpg "
              alt="room1"
            />
          </picture>
        </li>
        <li class="fs-desc-room">
          <picture>
            <source
              srcset="
                ./img/page-hotel/four-seater-room/fsr2-desk-1x-min.jpg 1x,
                ./img/page-hotel/four-seater-room/fsr2-desk-2x-min.jpg 2x
              "
              media="(min-width: 1400px)"
            />
            <img
              src="./img/page-hotel/four-seater-room/fsr2-desc-1x-min.jpg "
              alt="room2"
            />
          </picture>
        </li>
        <li class="fs-desc-room">
          <picture>
            <source
              srcset="
                ./img/page-hotel/four-seater-room/fsr3-desk-1x-min.jpg 1x,
                ./img/page-hotel/four-seater-room/fsr3-desk-2x-min.jpg 2x
              "
              media="(min-width: 1400px)"
            />
            <img
              src="./img/page-hotel/four-seater-room/fsr3-desc-1x-min.jpg "
              alt="room3"
            />
          </picture>
        </li>
      </ul>
      <div class="title-desc-buttons">
        <div class="fs-div-desc">
          <h2 class="fs-title">four-seater room</h2>
          <p class="fs-desc">
            Our 4-person room is perfect for small groups, offering comfort and
            convenience with 4 comfortable beds, ample storage, flat-screen TV,
            mini-fridge, coffee maker, desk and chair, air-conditioning,
            heating, and soundproof walls. Book now for a memorable stay.
          </p>
        </div>
        <div class="fs-buttons">
          <a href="./room.html" class="btn fs-btn-2">More details</a>
          <button
            type="button"
            class="fs-btn-2 btn js-open-modal"
            data-modal="price"
          >
            View Prices
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
