<section class="hotel-hero">
  <div class="container flex-hero-cont">
    <div class="hero-hotel-tit">
      <h2 class="title-hotel">hotel</h2>
      <div class="btn-hotel-hero">
        <button class="btn js-open-modal" type="button" data-modal="room">
          book a room
        </button>
        <button
          type="button"
          class="fs-btn-2 btn js-open-modal"
          data-modal="price"
        >
          View Prices
        </button>
      </div>
    </div>
    <div class="slide-hero-hotel">
      <div class="hotel-hero-slider">
        <div class="hero-slider">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide1-hero-desk-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide1-hero-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)"
              />
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide1-hero-tab-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide1-hero-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide1-hero-mob-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide1-hero-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-hero-hotel"
                src="./img/page-hotel/hero-slayds/slide1-hero-desk-1x.jpg"
                alt="house1"
                width="436"
                height="580"
              />
            </picture>
          </h3>
        </div>
        <div class="hero-slider">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide2-hero-desk-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide2-hero-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)"
              />
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide2-hero-tab-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide2-hero-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide2-hero-mob-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide2-hero-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-hero-hotel"
                src="./img/page-hotel/hero-slayds/slide2-hero-desk-1x.jpg"
                alt="house2"
                width="436"
                height="580"
              />
            </picture>
          </h3>
        </div>
        <div class="hero-slider">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide3-hero-desk-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide3-hero-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)"
              />
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide3-hero-tab-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide3-hero-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide3-hero-mob-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide3-hero-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-hero-hotel"
                src="./img/page-hotel/hero-slayds/slide3-hero-desk-1x.jpg"
                alt="house3"
                width="436"
                height="580"
              />
            </picture>
          </h3>
        </div>
      </div>
    </div>

    <p class="text-hero-hotel">
      Whether you're in the mood for a hearty breakfast, a light lunch, or a
      romantic dinner, our menu has something for everyone.
    </p>
  </div>
</section>
