<section class="hotel-hero">
  <div class="container hotel-hero-cont">
    <h2 class="title-hotel">hotel</h2>
    <div class="btn-hotel-hero">
      <button class="btn">book a room</button>
    <button class="btn">view prices</button>
    </div>
    <div class="slide">
      <div class="responsive content-re">
        <div class="content-rest">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide1-hero-desk-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide1-hero-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)"
              />
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide1-hero-tab-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide1-hero-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./img/page-hotel/hero-slayds/slide1-hero-mob-1x.jpg 1x,
                ./img/page-hotel/hero-slayds/slide1-hero-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-res-det"
                src="./img/page-hotel/hero-slayds/slide1-hero-desk-1x.jpg"
                alt="ice"
                width="436"
                height="580"
              />
            </picture>
          </h3>
        </div>
        <div class="content-rest">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide2-hero-desk-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide2-hero-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)"
              />
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide2-hero-tab-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide2-hero-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./img/page-hotel/hero-slayds/slide2-hero-mob-1x.jpg 1x,
                ./img/page-hotel/hero-slayds/slide2-hero-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-res-det"
                src="./img/page-hotel/hero-slayds/slide2-hero-desk-1x.jpg"
                alt="ice"
                width="436"
                height="580"
              />
            </picture>
          </h3>
        </div>
        <div class="content-rest">
          <h3>
            <picture>
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide3-hero-desk-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide3-hero-desk-2x.jpg 2x
                "
                media="(min-width: 1400px)"
              />
              <source
                srcset="
                  ./img/page-hotel/hero-slayds/slide3-hero-tab-1x.jpg 1x,
                  ./img/page-hotel/hero-slayds/slide3-hero-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./img/page-hotel/hero-slayds/slide3-hero-mob-1x.jpg 1x,
                ./img/page-hotel/hero-slayds/slide3-hero-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="img-res-det"
                src="./img/page-hotel/hero-slayds/slide3-hero-desk-1x.jpg"
                alt="ice"
                width="436"
                height="580"
              />
            </picture>
          </h3>
        </div>
  </div>
</section>
