<section class="hotel-triple">
  <div class="container">
    <ul class="triple-room-list">
      <li class="triple-img-one">
        <picture>
          <source
            srcset="
              ./img/page-hotel/triple-room/trr2-desk-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr2-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/page-hotel/triple-room/trr1-tab-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr1-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/page-hotel/triple-room/trr1-mob-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr1-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/page-hotel/triple-room/trr1-mob-1x.jpg"
            alt="bedroom"
          />
        </picture>
      </li>

      <li class="triple-img-two">
        <picture>
          <source
            srcset="
              ./img/page-hotel/triple-room/trr3-desk-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr3-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/page-hotel/triple-room/trr2-tab-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr2-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/page-hotel/triple-room/trr2-mob-1x.jpg  1x,
              ./img/page-hotel/triple-room/trr2-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/page-hotel/triple-room/trr2-mob-1x.jpg"
            alt="bathroom"
          />
        </picture>
      </li>

      <li class="triple-img-three">
        <picture>
          <source
            srcset="
              ./img/page-hotel/triple-room/trr1-desk-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr1-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/page-hotel/triple-room/trr3-tab-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr3-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/page-hotel/triple-room/trr3-mob-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr3-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/page-hotel/triple-room/trr3-mob-1x.jpg"
            alt="kitchen"
          />
        </picture>
      </li>
    </ul>
    <ul class="triple-room-list-tab">
      <li class="triple-img-one-tab">
        <picture>
          <source
            srcset="
              ./img/page-hotel/triple-room/trr2-desk-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr2-desk-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/page-hotel/triple-room/trr1-tab-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr1-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/page-hotel/triple-room/trr1-mob-1x.jpg 1x,
              ./img/page-hotel/triple-room/trr1-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/page-hotel/triple-room/trr1-mob-1x.jpg"
            alt="bedroom"
          />
        </picture>
      </li>
      <div class="triple-box-img">
        <li class="triple-img-three-tab">
          <picture>
            <source
              srcset="
                ./img/page-hotel/triple-room/trr1-desk-1x.jpg 1x,
                ./img/page-hotel/triple-room/trr1-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/page-hotel/triple-room/trr3-tab-1x.jpg 1x,
                ./img/page-hotel/triple-room/trr3-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/page-hotel/triple-room/trr3-mob-1x.jpg 1x,
                ./img/page-hotel/triple-room/trr3-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/page-hotel/triple-room/trr3-mob-1x.jpg"
              alt="kitchen"
            />
          </picture>
        </li>

        <li class="triple-img-two-tab">
          <picture>
            <source
              srcset="
                ./img/page-hotel/triple-room/trr3-desk-1x.jpg 1x,
                ./img/page-hotel/triple-room/trr3-desk-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/page-hotel/triple-room/trr2-tab-1x.jpg 1x,
                ./img/page-hotel/triple-room/trr2-tab-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/page-hotel/triple-room/trr2-mob-1x.jpg 1x,
                ./img/page-hotel/triple-room/trr2-mob-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/page-hotel/triple-room/trr2-mob-1x.jpg"
              alt="bathroom"
            />
          </picture>
        </li>
      </div>
    </ul>
    <div class="hotel-triple-container-senter">
      <div class="triple-luxury-container">
        <div class="hotel-triple-btn-top">
          <a href="./room.html" class="btn">More details</a>
          <button type="button" class="btn" data-modal-price-open>
            View prices
          </button>
        </div>
        <div class="triple-luxury-btn-desktop">
          <div class="triple-luxury-btn-desktop">
            <h2 class="title-triple-room">Triple Room</h2>
          </div>
          <div class="about-triple-room">
            <p class="triple-hotel-room-one">
              Escape to our spacious Triple Room, perfect for families or
              groups. Enjoy comfort with three beds, seating area, stunning
              views, flat-screen TVs, Wi-Fi, and mini-fridge.
            </p>
            <p class="triple-hotel-room-two">
              Rejuvenate in the en-suite bathroom with plush towels and
              toiletries. Book now for a memorable stay.
            </p>
          </div>
        </div>
        <div class="hotel-triple-btn">
          <a href="./room.html" class="btn ah">More details</a>
          <button type="button" class="btn" data-modal-page-hotel-price-tri-open>
            View prices
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
