
.hotel-hero {
  padding-bottom: 32px;
}
.hero-hotel-tit{
  margin-top: 40px;
}
.title-hotel {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.btn-hotel-hero {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.text-hero-hotel {
  max-width: 338px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-right: 0 auto;
  margin-left: 0 auto;
}


@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
 
  .hotel-hero {
    padding-bottom: 40px;
  }
  .title-hotel {
    margin-bottom: 32px;
    font-size: 80px;
    line-height: 1;
  }
  .btn-hotel-hero {
    gap: 14px;
    margin-bottom: 54px;
  }
  
}

@media screen and (min-width: 1440px) {
 
  .hotel-hero {
    padding-bottom: 30px;
  }
  .title-hotel {
    margin-top: 0;
    font-size: 90px;
    line-height: 1;
  }
  .btn-hotel-hero {
    gap: 14px;
    margin-bottom: 54px;
  }

  .flex-hero-cont{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

  }
  
  .slide-hero-hotel {
    width: 678px;

  }

  .text-hero-hotel {
    position: absolute;
    bottom: 0;
    left: 32px;
    transform: (32%, 0);
  }
  
}
